page-events {
    ion-content{
        background-color: $gray!important;

        event-card{
            display: flex;
            padding: 10px 20px;
        }
        event-card.selectedEvent{
            background-color: rgba(255, 208, 4, 0.3);
        }
    }
}